/* Box - Model  

default - box-sizing:content-box (whole content + extra padding + extra border width)
for ex - 200px+20px+5px = 225px(total) 


box-sizing:border-box (total = content width + padding + border width) 
for ex - content width - 200px 
175px+20px+5px = 200px 


*/


/* ----------------------------------------------------------------------------------- */
/* Boiler code of box-sizing 

html{
unless changed,every element has box-sizing:border-box
box-sizing:border-box
}

*, *:before, *:after{

we allow child to follow the parent box-sizing 
box-sizing:inherit;
}


*/

/* -------------------------------------------------------------------------------------- */

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}